# ignore everything
*

# allow source and development dirs
!src/
!src/**

# ignore node_modules inside development
src/development/node_modules/
src/development/node_modules/**

# allow some root files
!package.json
!package-lock.json
!tsconfig.json
!README.md
!.gitignore
!.github/
!.github/**
!eslint.config.js
!prettier.config.js