# ignore node_modules inside scaffold
src/scaffold/node_modules

node_modules
.npm
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

dev_scaffolds/
dev_scaffolds/**

!dev_scaffolds/README.md