@import 'tailwindcss';

@theme {
  /*
  ==========================================================================
  THEME CONFIGURATION
  ==========================================================================
  - See: https://tailwindcss.com/docs/theme
  */
  --breakpoint-xs: 30rem;
  --breakpoint-3xl: 120rem;
}

@layer base {
  /*
  ==========================================================================
  BASE STYLES
  ==========================================================================
  - See: https://tailwindcss.com/docs/adding-custom-styles#adding-base-styles
  */
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
}

@layer components {
  /*
  ==========================================================================
  COMPONENT STYLES
  ==========================================================================
  - Reusable UI components.
  - Improve code readability and maintainability.
  */
  .counter-btn {
    @apply h-12 w-12 cursor-pointer rounded bg-neutral-300/50 text-black backdrop-blur-sm transition hover:bg-neutral-100/80;
  }
  .stack-logo {
    @apply h-16 w-16 transition duration-300 md:h-24 md:w-24;
  }
}
